<div class="bg">
  <!-- <img src="./assets/pop-bg.jpg" alt=""> -->
</div>

<div class="pop">
  <div class="left">
    <div class="head">POP design</div>
    <img src="./assets/underline.png" alt="">
    <div class="desc">New HTML Template with pop up pages. Lorem ipsum dolor, sit amet adipisicing elit.</div>
  </div>

  <div class="right">
    <div class="pop_d"><i class="fa-solid fa-house"></i><span>Welcome</span></div>
    <div class="pop_d"><i class="fa-solid fa-users"></i><span>Our Team</span></div>
    <div class="pop_d"><i class="fa-solid fa-handshake"></i><span>Our Work</span></div>
    <div class="pop_d"><i class="fa-regular fa-comments"></i><span>Contact</span></div>
  </div>
</div>
